{% extends 'base.html.twig' %}

{% block metadescription %}
	<meta name="description" content="Contact localisation mail de NUMERIS">
{% endblock %}

{% block backgroundimage %}
	<div class="bg-img" style="background-image: url('./theme/img/5.jpg');">
		<div class="overlay"></div>
	</div>	
{% endblock %}

{% block form %}
	<!-- Section-header	-->	
	<div class="section-header text-center">
		<h2 class="title">NOUS CONTACTER</h2>
	</div>
	<!-- /Section-header -->
	<!-- contact form -->
	<div class="col-md-8 col-md-offset-2">
		{{ form_start(form, { 'attr': {'class': 'contact-form', 'id': 'contactForm'} } ) }}
    		{{ form_widget(form.nom, { 'attr': {'class': 'input', 'id': 'name', 'placeholder': 'Nom'} }) }}
			{{ form_widget(form.email, { 'attr': {'class': 'input', 'id': 'email', 'placeholder': 'Email'} }) }}
			{{ form_widget(form.objet, { 'attr': {'class': 'input', 'id': 'subject', 'placeholder': 'Objet'} }) }}
			{{ form_widget(form.message, { 'attr': {'class': 'input', 'id': 'message', 'placeholder': 'Message'} }) }}
			{{ form_widget(form.recaptcha, { 'attr': {'class': 'input'} } ) }}
		{{ form_widget(form) }}
		<button type="submit" value="Send Message" name="submit" class="main-btn" style="display: block; float: right; margin-top: -65px;">Envoyer</button>
		
		{{ form_end(form) }}
		
	</div>
	<!-- /contact form -->	
{% endblock %}