<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block metadescription %}{% endblock %}
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>NUMERIS SARL</title>
	<!-- Favicons -->
	<link href="{{ absolute_url(asset("theme/img/N.png")) }}" rel="icon">
	<link href="{{ absolute_url(asset("theme/img/N02.png")) }}" rel="apple-touch-icon">

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
    <!--link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css"-->

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{{ absolute_url(asset("theme/css/bootstrap.min.css")) }}" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="{{ absolute_url(asset("theme/css/owl.carousel.css")) }}" />
	<link type="text/css" rel="stylesheet" href="{{ absolute_url(asset("theme/css/owl.theme.default.css")) }}" />

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href="{{ absolute_url(asset("theme/css/magnific-popup.css")) }}" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="{{ absolute_url(asset("theme/css/font-awesome.min.css")) }}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ absolute_url(asset("theme/css/style.css")) }}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	  

	  


</head>

<body>
	<!-- Header -->
	{% if home is defined %}
	<header id="{{ home }}">
	{% else %}
	<header id="">
	{% endif %}
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('./theme/img/5.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="./theme/img/numeris1.png" alt="logo">
							<img class="logo-alt" src="./theme/img/numeris1.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/lentreprise">L'entreprise</a></li>
					<li class="has-dropdown"><a href="#">Produits & Services</a>
						<ul class="dropdown">
							<li><a href="/messagerie-colaborative">Messagerie collaborative</a></li>
							<li><a href="/service-dingenierie-informatique">Service d'ingénierie informatique</a></li>
							<li><a href="/audit-et-securite">Audit et sécurité</a></li>
							<li><a href="/equipement-mikrotik">Equipement Mikrotik</a></li>
						</ul>	
					</li>
					<li><a href="/centre-dexamens">Centre d'examens</a></li>
					<li><a href="/formations">Formations</a></li>			
					<li><a href="/rejoindre-lequipe">Rejoindre l'équipe</a></li>
					<li><a href="/contact">Contact</a></li>
					
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		{% block homewrapper %}{% endblock %}
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- About -->
	{% block about %}{% endblock %}
	<!-- /About -->

		<!-- Container -->
				
		<!-- /Service -->


	<!-- Why Choose Us -->
		{% block whyus %}{% endblock %}
	<!-- /Why Choose Us -->


	<!-- Contact -->
	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
				
				{% block form %}{% endblock %}

				<!-- /contact -->

			</div>
			<!-- /Row -->

			<!-- Row -->
			<div class="row">
			<!-- contact -->
				<div class="col-sm-3">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h3>Telephone</h3>
						<p>94 32 19 58</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-3">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>infos@numeris.bj</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-3">
					<div class="contact">
						<a href="https://goo.gl/maps/vhSpPNkgERKSEWD16"><i class="fa fa-map-marker"></i></a>
						<h3>Adresse</h3>
						<p>C/1148 HOUEHOUN, Cotonou, Bénin</p>
					</div>
				</div>
				<!-- /contact -->
				<div class="col-sm-3">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16540.864566642555!2d2.409487032029273!3d6.382502656621779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNsKwMjInNTQuMiJOIDLCsDI0JzUwLjMiRQ!5e0!3m2!1sfr!2sbj!4v1568299787015!5m2!1sfr!2sbj" width="250" height="150" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

				</div>
				<!-- contact -->
			</div>	
			<!-- /Row -->	

		</div>
		<!-- /Container -->

	</div>
	<!-- /Contact -->


	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a href="/"><img src="./theme/img/numeris1.png" ></a>
					</div>
					<!-- /footer logo -->

					<!-- footer follow -->
					<ul class="footer-follow">
						<li><a href="https://facebook.com/numerisbenin"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/numerisbenin"><i class="fa fa-twitter"></i></a></li>
						<!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
					</ul>
					<!-- /footer follow -->

					<!-- footer copyright -->
					<div class="footer-copyright">
						<p>COPYRIGHT © 2019. TOUS DROITS RÉSERVÉS. RÉALISÉ PAR <a href="http://www.numeris.bj" target="_blank">NUMERIS</a></p>
					</div>
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="{{ absolute_url(asset("theme/js/jquery.min.js")) }}"></script>
	<script type="text/javascript" src="{{ absolute_url(asset("theme/js/bootstrap.min.js")) }}"></script>
	<script type="text/javascript" src="{{ absolute_url(asset("theme/js/owl.carousel.min.js")) }}"></script>
	<script type="text/javascript" src="{{ absolute_url(asset("theme/js/jquery.magnific-popup.js")) }}"></script>
	<script type="text/javascript" src="{{ absolute_url(asset("theme/js/main.js")) }}"></script>

</body>

</html>
