<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>NUMERIS</title>
	<!-- Favicons -->
	<link href="{{ absolute_url(asset("theme/img/N.png")) }}" rel="icon">
	<link href="{{ absolute_url(asset("theme/img/N02.png")) }}" rel="apple-touch-icon">

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
    <!--link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css"-->

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{{ absolute_url(asset("theme/css/bootstrap.min.css")) }}" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="{{ absolute_url(asset("theme/css/owl.carousel.css")) }}" />
	<link type="text/css" rel="stylesheet" href="{{ absolute_url(asset("theme/css/owl.theme.default.css")) }}" />

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href="{{ absolute_url(asset("theme/css/magnific-popup.css")) }}" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="{{ absolute_url(asset("theme/css/font-awesome.min.css")) }}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ absolute_url(asset("theme/css/style.css")) }}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('./theme/img/5.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="index.php">
							<img class="logo" src="./theme/img/numeris1.png" alt="logo">
							<img class="logo-alt" src="./theme/img/numeris1.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#home">Accueil</a></li>
					<li><a href="#about">Qui sommes-nous</a></li>
					<li class="has-dropdown"><a href="#blog">Produits & Services</a>
						<ul class="dropdown">
							<li><a href="#blog">Messagerie collaborative</a></li>
							<li><a href=#service>Nos Services</a></li>
<!--							<li><a href=#features>blog post</a></li>-->
						</ul>
					</li>
					<li><a href="#features">Pourquoi Numeris ?</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">Plus qu'un client, vous êtes un partenaire</h1>
							<p class="white-text">
							</p>
							<!--<button class="white-btn">Get Started!</button>
							<button class="main-btn">Learn more</button>-->
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- About -->
	<div id="about" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">NUMERIS</h2>
				</div>
				<!-- /Section header -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-home"></i>
						<h3>NUMERIS SARL</h3>
						<p>Capital de 2.000.000 FCFA <br/>Siège social : Carré n°1148 HOUEHOUN, Cotonou, Bénin<br/>
							RCCM : RB/COT/19 B 23360 – IFU : 3201910583176
						</p>
<!--						<a href="#">Read more</a>-->

						<br>
						<br>

					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-desktop"></i>
						<h3>Domaines d'activités</h3>
						<p>
						<ul>
							<li>
								 Messagerie collaborative Cloud
							</li>
							<li>
								 Messagerie collaborative On Premise
							</li>
							<li>
								 Intégration de solutions Open Source
							</li>
							<li>
								  Réseau – Système – Sécurité
							</li>
							<li>
								 Infogérance
							</li> <li>
								 Conseil – Assistance – Formation
							</li> <li>
							Centre Pearson Vue (en cours)
							</li>
						</ul>
						</p>
<!--						<a href="#">Read more</a>-->
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-group"></i>
						<h3>Cibles</h3>
						<p>
						<ul >
							<li>
								Particuliers
							</li>
							<li>
								 Petites et Moyennes Entreprises
							</li>
							<li>
								  Universités – Ecoles – Lycées
							</li>
							<li>
								 Administrations publiques
							</li>
							<li>
								 Secteur privé
							</li> <li>
								 Etc.
							</li>
						</ul></p>
						<br>
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->

		<!-- Container -->
				<!-- Blog -->
				<div id="blog" class="section md-padding bg-grey">

					<!-- Container -->
					<div class="container">

						<!-- Row -->
						<div class="row">

							<!-- Section header -->
							<div class="section-header text-center">
								<h2 class="title">Messagerie collaborative</h2>
							</div>
							<!-- /Section header -->

							<!-- blog -->
							<div class="col-md-4">
								<div class="blog">
									<div class="blog-img">
										<img class="img-responsive" src="./theme/img/webmail35.png" alt="">
									</div>
									<div class="blog-content">
										<h3> Messagerie collaborative BlueMind</h3>
										<p>

										<ul>
											<li>Envoi - Réception de mails</li>
											<li>Boites de réception partagées</li>
											<li>Carnets d’adresses (partagé)</li>
											<li>Agenda (partagé)</li>
											<li>Calendrier d’entreprise</li>
										</ul>
										</p>
									</div>
								</div>
							</div>
							<!-- /blog -->

							<!-- blog -->
							<div class="col-md-4">
								<div class="blog">
									<div class="blog-img">
										<img class="img-responsive" src="./theme/img/bluemind.jpg" alt="">
									</div>
									<div class="blog-content">
										<h3>Couverture fonctionnelle</h3>
										<p>

											<ul>
												<li>Agendas</li>
												<li>Contact</li>
												<li>Messagerie</li>
												<li>Tâches</li>
												<li>Drive-Chat</li>
												<li>VO-IP XIVO</li>
											</ul>
										</p>
									</div>
								</div>
							</div>
							<!-- /blog -->

							<!-- blog -->
							<div class="col-md-4">
								<div class="blog">
									<div class="blog-img">
										<img class="img-responsive"  src="./theme/img/blue.png" alt="">
									</div>
									<div class="blog-content">
										<h3>Clients Mobiles</h3>
										<p>
											<ul>
												<li>IOS,Androïd</li>
												<li>Multi Agendas</li>
												<li>ActiveSync natif</li>
												<li>Multi Agendas</li>
											</ul>

										</p>
									</div>
								</div>
							</div>
							<!-- /blog -->

						</div>
						<!-- /Row -->

					</div>
					<!-- /Container -->

				</div>
				<!-- /Blog -->


					<!-- pricing -->
					<div class="col-sm-4">
						<div class="pricing">
							<div class="price-head">
								<span class="price-title">Offre Basic</span>
								<div class="price">
									<h3>4.750<span class="duration">frs CFA/mois</span></h3>
								</div>
							</div>
							<ul class="price-content">
								<li>
									<p>1 Go Stockage </p>
								</li>
								<li>
									<p>10 utilisateurs </p>
								</li>
								<li>
									<p>Mails et Contacts</p>
								</li><li>
									<p>Agendas et Tâches</p>
								</li><li>
									<p>Pièces jointes détachées</p>
								</li><li>
									<p>WebMail</p>
								</li><li>
									<p>Synchronisation Mobile</p>
								</li>
								<li>
									<p>Protection anti-virus et anti-spam</p>
								</li>
								<li>
									<p>Assistance 8x5 par mail</p>
								</li><li>
									<p>Sans publicité</p>
								</li>
								<li>
									<p><br/></p>
								</li>
							</ul>
							<div class="price-btn">
								<button class="outline-btn">Voir <i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>
					<!-- /pricing -->



				<!-- <!-- /pricing -->
					<div class="col-sm-4">
						<div class="pricing">
							<div class="price-head">
								<span class="price-title">Offre Pro </span>

								<div class="price">
									<h3>450<span class="duration">frs CFA/mois</span></h3>
								</div>
							</div>
							<ul class="price-content">
								<li>
									<p>5 Go Stockage</p>
								</li>
								<li>
									<p>Messagerie Instantanée</p>
								</li>
								<li>
									<p>Mails - Contacts</p>
								</li><li>
									<p>Agendas - Tâches</p>
								</li>
								<li>
									<p>Pièces jointes détachées</p>
								</li>
								<li>
									<p>WebMail</p>
								</li><li>
									<p>Synchronisation tout appareil</p>
								</li>
								<li>
									<p>Boîtes aux lettres partagées </p>
								</li>
								<li>
									<p>Protection anti-virus et anti-spam</p>
								</li>
								<li>
									<p>Assistance 24/7 par mail et téléphone </p>
								</li><li>
									<p>Sans publicité</p>
								</li>

							</ul>
							<div class="price-btn">
								<button class="outline-btn">Voir <i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>


				<!-- <!-- /pricing -->
				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">Passerelle Mail</span>
							<div class="price">
								<h3>5.500<span class="duration">frs CFA/mois</span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>Protection anti-virus</p>
							</li>
							<li>
								<p>Protection anti-spam</p>
							</li>
							<li>
								<p>Signature DKIM et DMARC</p>
							</li><li>
								<p>SSL/TLS</p>
							</li><li>
								<p>Assistance 8x5 par mail</p>
							</li><li>
								<p>Sans publicité</p>
							</li>
							<li>
								<p><br/></p>
							</li>
							<li>
								<p><br/></p>
							</li>
							<li>
								<p><br/></p>
							</li>
							<li>
								<p><br/></p>
							</li>
							<li>
								<p><br/></p>
							</li>
						</ul>
						<div class="price-btn">
							<button class="outline-btn">Voir <i class="fa fa-plus"></i></button>
						</div>
					</div>
				</div>
				<!-- /pricing -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Portfolio -->

	<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Services</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-diamond"></i>
						<h3>Ingénierie Web & Logicielle </h3>
						<p>Réalisation et intégration de logiciel appliqué aux besoins des entreprises et des particuliers.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-rocket"></i>
						<h3>L'infogérance</h3>
						<p>Gestion éfficace de l'informatique interne des entreprises (bureautique,reseaux, maintenance applicative...).</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-hand-peace-o"></i>
						<h3>Conseil-Assistance</h3>
						<p>Apport de notre expertise en matière d'aide à la décision et la mise en place de systèmes d'informations .</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-drivers-license"></i>
						<h3>Formation</h3>
						<p>Des cours adaptés pour vos certifications dans le domaine informatique,ayez l'esprit tranquille en vous préparant aux examens.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-window-restore"></i>
						<h3>Reseau-Securité</h3>
						<p>Installation et paramétrage des réseaux internes de l'entreprise ,mises à jour et contrôles réguliers de l'activité réseau.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-shopping-bag"></i>
						<h3>Materiel Informatique</h3>
						<p>De nombreuses gammes de produits, toujours d’après les besoins de la clientèle (serveur, stockage, equipement reseau ...).</p>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->


	<!-- Why Choose Us -->
	<div id="features" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title">Pourquoi NUMERIS ?</h2>
					</div>
<!--					<p>isque purus.</p>

-->					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Une équipe d'experts en informatique dynamique.</p>
					</div>

					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Des services sécurisés et de qualités.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Accompagnement des entreprises dans l'acquisition et la mise en œuvre de leurs outils.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Nos solutions sont efficaces et économiques à un prix concurrentiel.
							</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Nos prix sont attractifs et bien étudiés.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Vous satisfaire est notre priorité.</p>
					</div>

				</div>
				<!-- /why choose us content -->

				<!-- About slider -->
				<div class="col-md-6">
					<div id="about-slider" class="owl-carousel owl-theme">
						<img class="img-responsive" src="./theme/img/développeur-logiciel.jpg" alt="">
						<img class="img-responsive" src="./theme/img/serv-resum.jpg" alt="">
						<img class="img-responsive" src="./theme/img/equipement-informatique-large.jpg" alt="">
						<img class="img-responsive" src="./theme/img/1.jpg" alt="">
					</div>
				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->


	<!-- Contact -->
	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Contactez-Nous</h2>
				</div>
				<!-- /Section-header -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h3>Telephone</h3>
						<p>94 32 19 58</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>infos@numeris.bj</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-map-marker"></i>
						<h3>Adresse</h3>
						<p>C/1148 HOUEHOUN, Cotonou, Bénin</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact form -->
				<div class="col-md-8 col-md-offset-2">
					<form id="contactForm" action="contact-form.php" method="POST" class="contact-form">
						<input type="text" class="input" name="name" id="name" required="" aria-required="true" placeholder="Nom">
						<input type="email" class="input" name="email" id="email" required="" aria-required="true" placeholder="Email">
						<input type="text" class="input" name="subject" id="subject" required="" aria-required="true" placeholder="Objet">
						<textarea class="input" name="message" id="message" required="" aria-required="true" placeholder="Message"></textarea>
						<button type="submit" value="Send Message" name="submit" class="main-btn">Envoyer</button>
					</form>
				</div>
				<!-- /contact form -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Contact -->


	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a href="index.php"><img src="./theme/img/numeris1.png" ></a>
					</div>
					<!-- /footer logo -->

					<!-- footer follow -->
					<ul class="footer-follow">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
					</ul>
					<!-- /footer follow -->

					<!-- footer copyright -->
					<div class="footer-copyright">
						<p>COPYRIGHT © 2019. TOUS DROITS RÉSERVÉS. RÉALISÉ PAR <a href="http://www.numeris.bj" target="_blank">NUMERIS</a></p>
					</div>
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="{{ absolute_url(asset("theme/js/jquery.min.js")) }}"></script>
	<script type="text/javascript" src="{{ absolute_url(asset("theme/js/bootstrap.min.js")) }}"></script>
	<script type="text/javascript" src="{{ absolute_url(asset("theme/js/owl.carousel.min.js")) }}"></script>
	<script type="text/javascript" src="{{ absolute_url(asset("theme/js/jquery.magnific-popup.js")) }}"></script>
	<script type="text/javascript" src="{{ absolute_url(asset("theme/js/main.js")) }}"></script>

</body>

</html>
